{% extends 'common/layout.html' %}

{% block title %}
<title>
  Login
</title>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row" style="height:25vh;"></div>

  <div class="row" style="height:50vh; ">
    <div class="col-md-4 col-md-offset-4" style="height:100%; background-color:#696969; border-radius:10px;">
      <div class="col-md-10 col-md-offset-1" style="height:70%; margin-top:5%;">

        <a href="/" class="btn" style="color:#FFFFFF; padding-left:0;"> ⮜ back </a>

        <div style="text-align:center;">
          <h1 style="color:#DDDDDD;">登录 / 注册</h1>

          <form method="POST">
            {% csrf_token %}

            {% if status == 1 %}
            <p style="color:#FF7777;">登陆失败！</p>
            <div class="row">
            {% else %}
            <div class="row" style="margin-top:10%;">
            {% endif %}
              <div class="form-group">
                <label class="control-label" style="color:#DDDDDD;">账户</label>
                <input class="form-control" type="text" name="id" style="color:#FFFFFF; background-color:#696969; box-shadow:none;">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="control-label" style="color:#DDDDDD;">密码</label>
                <input class="form-control" type="password" name="pw" style="color:#FFFFFF; background-color:#696969; box-shadow:none;">
              </div>
            </div>

            <div class="row" style="height:4vh;"></div>
            <div class="row">
              <button class="btn" type="submit">
                登录
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="height:25vh;"></div>

</div>
{% endblock %}