
# basic excludes
*.pyc
*.env
*.sqlite3

.system/pyvenv.cfg
.system/RetrivalSystem/pathadder.py
.system/RetrivalSystem/static/*

# ignore crawler cache
.system/crawler/out/*.txt
.system/crawler/out/*.zip
.system/crawler/out/endpoint/*

# requirements
.system/Lib/site-packages/*
.system/Scripts/*

