
# basic excludes
*.pyc
*.env
*.sqlite3

# datas
RetrivalSystem/_exported_data/*
#RetrivalSystem/database/data/*
#RetrivalSystem/database/db_control.py



# make sure static is always up to date
RetrivalSystem/static/*

# etc.
*.xlsx
*.xmind
*.mwb

*.ipynb
RetrivalSystem/search/信息存储与检索 检索系统.py
DROP_TABLEs.txt
