{% extends 'common/layout.html' %}



{% block title %}
<title>
  {{title}}
</title>
{% endblock %}



{% block javascript %}
{% endblock %}



{% block separated %}
{% endblock %}


{% block content %}
<div class="container">
  <a href="/" class="btn" style="margin-top:5vh; scale:150%; color:#DDDDDD; font-size:90%;"> ❮❮ Home </a>
  <hr style="height:2px; border-width:0; background-color:#AAAAAA;">
  <div class="row" style="height:10%;"></div>
  {% if exist %}

  {% if article.pri_tags %}
  <h3 style="color:#BBBBBB">
    <span style="color:#888888;">主要标签：</span>
    <span style="color:greenyellow;">{{article.pri_tags_str}}</span>
  </h3>
  {% endif %}
  {% if article.sec_tags %}
  <h3 style="color:#BBBBBB">
    <span style="color:#888888;">次要标签：</span>
    <span style="color:white;">{{article.sec_tags_str}}</span>
  </h3>
  {% endif %}
  <br>

  {% if article.indexno %}
  <h4 style="color:#BBBBBB; padding-bottom:8px;">
    <span style="color:#888888; ">索引号：</span>
    <span>{{article.indexno}}</span>
  </h4>
  {% endif %}
  {% if article.documentno %}
  <h4 style="color:#BBBBBB">
    <span style="color:#888888; ">发文字号：</span>
    <span>{{article.documentno}}</span>
  </h4>
  {% endif %}
  {% if article.source.name %}
  <h3 style="color:#BBBBBB">
    <span style="color:#888888; ">机构：</span>
    <span>{{article.source.name}}</span>
  </h3>
  {% endif %}
  {% if article.region.name %}
  <h3 style="color:#BBBBBB">
    <span style="color:#888888; ">地区：</span>
    <span>{{article.region.name}}</span>
  </h3>
  {% endif %}
  <h3 style="color:#BBBBBB">
    <span style="color:#888888; ">日期：</span>
    <span>{{date}}</span>
  </h3>
  <br>
  <h1 style="color:#BBBBBB">{{article.title}}</h1>
  <h2 style="color:whitesmoke;">{{article.category.name}}</h2>
  <br>
  <a class="h3 text-warning" href="{{article.url}}" target="_blank" style="color:#DDDD00">点击前往原文</a>
  <br>
  <br>
  <br>

  {% for content in contents %}
  <p class="h4" style="color:#FFFFFF; line-height:1.5; padding-top:16px; ">{{content}}</p>
  {% endfor %}
  <div style="height:50vh"></div>

  {% else %}
  <div style="padding-top:20px; padding-bottom:20px ; border-radius:10px;">
    <div class="row" style="height:10%;">
      <h1 style="text-align:center; color:#FFFFFF;">该对象不存在</h1>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
